body {
  margin: 0;
}
.progres-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#progres-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}
label {
  color: white;
  font-size: 2rem;
}
.partIntro,
.partExperience,
.partSkill,
.partLanguage {
  color: #f9f1f0;
  width: 300px;
  background-color: brown;
  opacity: 0;
  border-radius: 10px;
  padding: 5px 20px;
  animation: accordion 2.5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partExperience,
.partSkill,
.partLanguage {
  clip-path: none;
  border-radius: 20px;
}

.partIntro p,
.partIntroMobile p {
  text-align: center;
  line-break: auto;
}
.partIntro > p > span > span,
.partIntroMobile > p > span > span {
  display: inline-block;
  padding-bottom: 10px;
}

.partIntroMobile,
.partExperienceMobile,
.partSkillMobile,
.partLanguageMobile {
  color: #f9f1f0;
  background-color: brown;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 20px 30px;
}

.partIntroMobile p,
.partExperienceMobile p,
.partSkillMobile p,
.partLanguageMobile p {
  padding: 20px 20px;
}

.partApreciation {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partLanguageMobile,
.partLanguage {
  flex-direction: column;
}
.partLanguageMobile {
  width: 100vw;
  height: 100vh;
}

.optionLng {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.optionLng > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.optionLng > div label {
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 18px;
}
.optionLng > div label::before {
  position: absolute;
  width: 30.21px;
  height: 37.6px;
  left: -30.21px;
  top: 0;
  background-color: transparent;
  content: "";
}
.partLanguage .Typewriter__cursor,
.partLanguageMobile .Typewriter__cursor {
  display: none;
  margin-left: 0px !important;
}
.optionLng > div img {
  width: 30.21px;
  height: 37.6px;
}

.optionLng label {
  font-size: 18px;
}

.confirmBtn {
  border: 1px solid #186f65;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s linear;
  cursor: pointer;
  margin-top: 20px;
}
.confirmBtn:hover {
  background-color: #186f65;
}

.notice {
  font-style: italic;
  font-size: 14px;
  margin-top: 20px;
  line-break: auto;
  padding: 0 20px;
}

a {
  font-style: italic;
  color: inherit;
}

@keyframes accordion {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

@keyframes faded {
  from {
    opacity: 0.8;
    height: 400px;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
@keyframes show {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 0.6;
    height: 400px;
  }
}
