body {
  margin: 0;
}
.progres-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#progres-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}
label {
  color: white;
  font-size: 2rem;
}
.partIntro,
.partExperience,
.partSkill {
  color: #f9f1f0;
  width: 300px;

  background-color: brown;
  opacity: 0;
  border-radius: 10px;
  padding: 5px 20px;
  animation: accordion 2.5s forwards;
  clip-path: polygon(0 43%, 2% 18%, 18% 0, 50% 9%, 82% 0, 98% 18%, 100% 41%, 93% 66%, 78% 84%, 50% 100%, 22% 84%, 7% 66%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.partExperience,
.partSkill {
  clip-path: none;
  border-radius: 20px;
}

.partIntro p,
.partIntroMobile p {
  text-align: center;
  line-break: auto;
}
.partIntro > p > span > span,
.partIntroMobile > p > span > span {
  display: inline-block;
  padding-bottom: 10px;
}

.partIntroMobile,
.partExperienceMobile,
.partSkillMobile {
  color: #f9f1f0;
  background-color: brown;
  opacity: 0;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partApreciation {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes accordion {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

@keyframes faded {
  from {
    opacity: 0.8;
    height: 400px;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
@keyframes show {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 0.6;
    height: 400px;
  }
}
